$logo-height: 32px;
$logo-width: $logo-height * 7.8148148148;
$logo-height-retina: $logo-height * 2;
$nav-height: 39px;
$nav-height-retina: $nav-height * 2;
$master-color: #000;
$primary-color: #c4c6c7;
$primary-color:#cdd3d5;
$secondry-color: #b9ff00;
$max-width: 1920px;
$PHI: 1.618033;
$IPHI: 0.618033;
$nav-button-height: 40px;
$nav-button-height-retina: 64px;
$bg-home: #000;
$bg-page: #080808;
$bg-nav: rgb(238, 238, 238);

