@import "./common";

@-moz-document url-prefix() {
  .drops {
    background-color: #6060608f !important;
  }
}

.box-grid {
  width: 100%;
  display: table;
  border-collapse: separate;
  border-spacing: 15px;

  .box-grid-row {
    width: 100%;
    display: table;
    table-layout: fixed;
  }

  .box-grid-col {
    display: table-cell;
    padding: 2%;
    vertical-align: top;
  }
}

$eye: 'data:image/svg+xml,<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg width="100%" height="100%" viewBox="0 0 1080 1080" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(19.2211,0,0,19.2211,-49.584,245.302)"><path d="M30.684,32.07C28.079,32.07 25.615,31.755 23.291,31.123C20.967,30.492 18.812,29.658 16.826,28.623C14.84,27.588 13.06,26.445 11.484,25.195C9.909,23.945 8.561,22.692 7.441,21.436C6.322,20.179 5.465,19.014 4.873,17.939C4.281,16.865 3.984,15.996 3.984,15.332C3.984,14.668 4.281,13.799 4.873,12.725C5.465,11.65 6.322,10.485 7.441,9.229C8.561,7.972 9.912,6.719 11.494,5.469C13.076,4.219 14.86,3.076 16.846,2.041C18.831,1.006 20.986,0.173 23.311,-0.459C25.635,-1.09 28.092,-1.406 30.684,-1.406C33.301,-1.406 35.778,-1.09 38.115,-0.459C40.452,0.173 42.614,1.006 44.6,2.041C46.585,3.076 48.363,4.219 49.932,5.469C51.501,6.719 52.839,7.972 53.945,9.229C55.052,10.485 55.898,11.65 56.484,12.725C57.07,13.799 57.363,14.668 57.363,15.332C57.363,15.996 57.07,16.865 56.484,17.939C55.898,19.014 55.052,20.179 53.945,21.436C52.839,22.692 51.501,23.945 49.932,25.195C48.363,26.445 46.589,27.588 44.609,28.623C42.63,29.658 40.472,30.492 38.135,31.123C35.798,31.755 33.314,32.07 30.684,32.07ZM30.684,28.984C32.819,28.984 34.873,28.717 36.846,28.184C38.818,27.65 40.671,26.943 42.402,26.064C44.134,25.186 45.706,24.225 47.119,23.184C48.532,22.142 49.746,21.11 50.762,20.088C51.777,19.066 52.562,18.132 53.115,17.285C53.669,16.439 53.945,15.788 53.945,15.332C53.945,14.941 53.669,14.342 53.115,13.535C52.562,12.728 51.777,11.807 50.762,10.771C49.746,9.736 48.532,8.691 47.119,7.637C45.706,6.582 44.134,5.602 42.402,4.697C40.671,3.792 38.818,3.063 36.846,2.51C34.873,1.956 32.819,1.68 30.684,1.68C28.535,1.68 26.471,1.956 24.492,2.51C22.513,3.063 20.658,3.792 18.926,4.697C17.194,5.602 15.625,6.582 14.219,7.637C12.812,8.691 11.598,9.736 10.576,10.771C9.554,11.807 8.77,12.728 8.223,13.535C7.676,14.342 7.402,14.941 7.402,15.332C7.402,15.788 7.676,16.439 8.223,17.285C8.77,18.132 9.554,19.066 10.576,20.088C11.598,21.11 12.812,22.142 14.219,23.184C15.625,24.225 17.194,25.186 18.926,26.064C20.658,26.943 22.513,27.65 24.492,28.184C26.471,28.717 28.535,28.984 30.684,28.984ZM30.684,26.27C29.147,26.27 27.715,25.983 26.387,25.41C25.059,24.837 23.893,24.046 22.891,23.037C21.888,22.028 21.104,20.863 20.537,19.541C19.971,18.219 19.687,16.816 19.687,15.332C19.687,13.809 19.971,12.383 20.537,11.055C21.104,9.727 21.888,8.564 22.891,7.568C23.893,6.572 25.059,5.794 26.387,5.234C27.715,4.674 29.147,4.395 30.684,4.395C32.194,4.395 33.613,4.674 34.941,5.234C36.27,5.794 37.435,6.572 38.438,7.568C39.44,8.564 40.225,9.727 40.791,11.055C41.357,12.383 41.641,13.809 41.641,15.332C41.641,16.816 41.357,18.219 40.791,19.541C40.225,20.863 39.44,22.028 38.438,23.037C37.435,24.046 36.27,24.837 34.941,25.41C33.613,25.983 32.194,26.27 30.684,26.27ZM30.684,18.965C31.686,18.965 32.546,18.607 33.262,17.891C33.978,17.174 34.336,16.322 34.336,15.332C34.336,14.329 33.978,13.473 33.262,12.764C32.546,12.054 31.686,11.699 30.684,11.699C29.668,11.699 28.802,12.054 28.086,12.764C27.37,13.473 27.012,14.329 27.012,15.332C27.012,16.322 27.37,17.174 28.086,17.891C28.802,18.607 29.668,18.965 30.684,18.965Z" style="fill:%23b4f800;"/></g></svg>';

@mixin eye($color) {
  background: $color;
  background-color: $color;
  -webkit-mask-image: url($eye);
    mask-image: url($eye);
    background: url($eye), linear-gradient(
            130deg,
            #ff00c8 0%,
            #403484 70%,
            #ec1515 100%
          );
          background-repeat: no-repeat;
          background-position: 50%;
}

.eye {
  background-image: url($eye);
}

.button-circles {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:serif='http://www.serif.com/' width='100%25' height='100%25' viewBox='0 0 101 122' version='1.1' xml:space='preserve' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;'%3E%3Cg%3E%3Ccircle cx='39.333' cy='60.872' r='0' style='fill:none;stroke:%23e1e1e1;stroke-width:4.17px;'/%3E%3Cpath d='M39.333,119.662c32.469,-0 58.789,-26.321 58.789,-58.79c0,-32.468 -26.32,-58.789 -58.789,-58.789l0,58.789l0,58.79Z' style='fill:none;stroke:%23e1e1e1;stroke-width:4.17px;'/%3E%3C/g%3E%3C/svg%3E");
}

.cursor-close {
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 23 23' version='1.1' xml:space='preserve' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cg%3E%3Cpath d='M11.241,0c6.204,0 11.24,5.037 11.24,11.241c0,6.204 -5.036,11.24 -11.24,11.24c-6.204,0 -11.241,-5.036 -11.241,-11.24c-0,-6.204 5.037,-11.241 11.241,-11.241Zm-0,1.554c5.346,0 9.686,4.34 9.686,9.687c0,5.346 -4.34,9.686 -9.686,9.686c-5.347,0 -9.687,-4.34 -9.687,-9.686c0,-5.347 4.34,-9.687 9.687,-9.687Z' style='fill:%23ebebeb;fill-opacity:0.6;'/%3E%3Cpath d='M17.273,17.273c-1.665,-1.665 -4.249,-4.931 -4.249,-6.032c-0,-1.102 2.584,-4.368 4.249,-6.032c-1.665,1.664 -4.931,4.248 -6.032,4.248c-1.102,0 -4.368,-2.584 -6.032,-4.248c1.664,1.664 4.248,4.93 4.248,6.032c0,1.101 -2.584,4.367 -4.248,6.032c1.664,-1.665 4.93,-4.249 6.032,-4.249c1.101,-0 4.367,2.584 6.032,4.249Z' style='fill:%23e1e1e1;'/%3E%3C/g%3E%3C/svg%3E") 16 16, default;
}

.cursor-zoom {
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 94 94' version='1.1' xml:space='preserve' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cg%3E%3Ccircle cx='46.836' cy='46.836' r='40.361' style='fill:%23fff;fill-opacity:0.3;'/%3E%3Cpath d='M82.38,46.836c-9.809,0 -27.044,-2.008 -30.29,-5.254c-3.245,-3.245 -5.254,-20.481 -5.254,-30.289c0,9.808 -2.008,27.044 -5.254,30.289c-3.245,3.246 -20.481,5.254 -30.289,5.254c9.808,0 27.044,2.009 30.289,5.254c3.246,3.246 5.254,20.481 5.254,30.29c0,-9.809 2.009,-27.044 5.254,-30.29c3.246,-3.245 20.481,-5.254 30.29,-5.254Z' style='fill:%23fff;fill-opacity:0.8;'/%3E%3Cpath d='M46.836,0c25.85,0 46.837,20.987 46.837,46.836c-0,25.85 -20.987,46.837 -46.837,46.837c-25.849,-0 -46.836,-20.987 -46.836,-46.837c0,-25.849 20.987,-46.836 46.836,-46.836Zm0,6.475c22.276,0 40.361,18.085 40.361,40.361c0,22.276 -18.085,40.361 -40.361,40.361c-22.276,0 -40.361,-18.085 -40.361,-40.361c0,-22.276 18.085,-40.361 40.361,-40.361Z' style='fill:%23fff;fill-opacity:0.8;'/%3E%3C/g%3E%3C/svg%3E") 16 16, pointer;
}


main.showcase {
  padding-top: 0;
  min-height: 100vh;
  min-height: 100dvh;
  background-color: $bg-page;

  header.top {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
    margin: 0 auto;
    padding-top: ($logo-height * $IPHI * 3) - 9;//($logo-height * $PHI) + ($logo-height / 2);
    text-align: center;
    z-index: 200;
    pointer-events: none;
    overflow: hidden;
    @include breakpoint(medium) {
      padding-top: ($logo-height * $IPHI * 4) - 4.5;
    }

    will-change: opacity;

    
    @include showTime(1.0s);
    transform: translateZ(10);


    .artworks-button{
        position: relative;
      display: inline-block;
      -webkit-text-stroke: 1px rgba($primary-color, 0.9);
      //-webkit-text-fill: rgba(255, 255, 255, 0.2);
      // background-image: linear-gradient(
      //                               -90deg,
      //                               #EA3 30%,
      //                               #A5F 50%, 
      //                               #B5F 70%
      //                             );
      // background-color: $primary-color;
      // background-size: 100vw;

      // -webkit-background-clip: text;
      //         background-clip: text;
      padding-left: $logo-height * $IPHI * 1;
      padding-right: $logo-height * $IPHI * 1;
      padding-top: 20vh;
      padding-bottom: 2em;
      font-size: 10vw;
      border-top: 2px solid rgba($primary-color, 0.2);
      // border-bottom: 2px solid rgb(37, 37, 42);
      // border-radius: 0px 500px 500px 0px;
      min-width: 100vw;
      text-align: center;

      margin-left: auto;
      margin-right: auto;
      text-indent: -15vw;
        z-index: 111;
        transform: translateZ(1px);
    @include breakpoint(medium) {
      font-size: 7vw;
      -webkit-text-stroke: 2px rgba($primary-color, 0.9);
    }

      will-change: -webkit-text-stroke-color;
      
        -webkit-transition: -webkit-text-stroke-color 0.5s ease-out;
           -moz-transition: -webkit-text-stroke-color 0.5s ease-out;
                transition: -webkit-text-stroke-color 0.5s ease-out;
        &.showing {
          -webkit-text-stroke-color: #primary-color;
        }
    }
  }

  .filter-buttons {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 31px;
    z-index: 1000;
    pointer-events: none;
    padding: 0 5px;

    @include showTime(2s);

    @include breakpoint(showcase-filters) {
      position: fixed;
      max-width: $max-width;
      padding: $logo-height * $IPHI * 1 0;
      bottom: $logo-height * $IPHI * 1;
      left: 0;
      right: 0;
      margin: 5vw auto 0 auto;

    }
  }
  .button-group {
    position: relative;
    text-align: center;
    z-index: 1000;
    width: fit-content;
    width: -moz-fit-content;
    background-color: rgba(69, 69, 69, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    border-top: 1px solid rgba(159, 104, 104, 0.2);
    padding: 5px 10px;
    clear: both;
    pointer-events: all;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    @include breakpoint(medium) {
      max-width: 24em;
    }

    @include breakpoint(showcase-filters) {
      background-color: rgba(0, 0, 0, 0);
      border: 1px solid rgba(169, 169, 169, 0);
      -webkit-backdrop-filter: none;
      backdrop-filter: none;
      position: relative;
      //right: $logo-height * $IPHI * 2;
      width: 200px;
      pointer-events: all;
      z-index: 1000;
      text-align: right;
      display: block;
      float: right;
      padding: 0px ($logo-height * $IPHI * 3);
      pointer-events: none;
    }
    &::after {
      content: "";
      display: block;
      clear: both;
    }

    .button {
        position: relative;
        display: inline-block;
        padding: .5em 1em .5em 1em;
        background-color: rgba(0, 0, 0, 0.5);
        font-size: 0.77em;
        border: 2px solid rgba($primary-color, 0.3);
        margin: 4px 4px;
        color: $primary-color;
        font-weight: 500;
        -webkit-transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
           -moz-transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
                transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
      border-radius: 50%;
      letter-spacing: 0.1em;
      pointer-events: all;
      @extend .cursor-pointer;
  
      @include breakpoint(iphone8) {
        font-size: 0.9em;
      }

      &::after {
        content: "";
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
      }

        @media (hover: hover) {
            &:hover {
                border: 2px solid rgba($secondry-color, 0.8);
                color: $secondry-color;
            }
        }
  
      &:active,
      &.is-checked {
        font-weight: 700;
        outline: none;
        color: black;
        background: $secondry-color;
        border: 2px solid $secondry-color;
      }
  
      @include breakpoint(showcase-filters) {
        float: none;
        display: block;
        margin-right: 0px;
        margin-left: auto;
        font-size: 0.9em;
        background: transparent !important;
        border: none !important;
        padding-right: 0 !important;
        //min-width: 100px;
        text-align: right;
        font-size: 1em;
        font-weight: 500 !important;
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
        border-radius: 500px;

        $height: 2px;
        &::before {
            content: "";
            position: absolute;
            right: -30px;
            bottom: 15%;
            border-top: $height solid rgba($primary-color, 0.2);
            border-bottom: $height solid rgba($primary-color, 0.2);
            width: 8px;
            height: 70%;
            display: block;
            
            -webkit-transition: border 0.3s ease-in-out, width 0.3s ease-in-out;
               -moz-transition: border 0.3s ease-in-out, width 0.3s ease-in-out;
                    transition: border 0.3s ease-in-out, width 0.3s ease-in-out;

        }

        &::after {
            content: "";
            position: absolute;
            right: -30px;
            bottom: 55%;
            visibility: visible;
            background-color: rgba($primary-color, 0.2);
            width: 8px;
            height: $height;
            display: block;
            border-radius: 500px;
            -webkit-transition: background-color 0.3s ease-in-out, width 0.3s ease-in-out;
               -moz-transition: background-color 0.3s ease-in-out, width 0.3s ease-in-out;
                    transition: background-color 0.3s ease-in-out, width 0.3s ease-in-out;
        }

        @media (hover: hover) {
             &:hover {
                &::before {
                    border-top: $height solid rgba($primary-color, 0.3);
                    border-bottom: $height solid rgba($primary-color, 0.3);
                    width: 13px;
                }

                &::after {
                    background-color: rgba($primary-color, 0.5);
                    width: 21px;
                }
            }
        }
        &:active,
          &.is-checked {
            color: $secondry-color !important;
            &::before {
                border-top: $height solid rgba($primary-color, 0.3);
                border-bottom: $height solid rgba($primary-color, 0.3);
                width: 13px;
            }

            &::after {
                background-color: rgba($secondry-color, 0.7);
                width: 21px;
            }
        }
      }
    }
  }



  .content {
    position: relative;
    max-width: $max-width;
    margin: 0 auto 20vh;
    min-height: 100vh;
    min-height: 100dvh;
    padding-top: 1px;
  }

  .end {
    text-align: center;
    position: relative;
    z-index: 1;
    @include showTime(0.5s);
    min-height: 50vh;

    img {
      max-width: 30vh;
      max-height: 30vh;
      transform: translateZ(10px);
    }
  }

  .grid {
    max-width: $max-width;
    margin: 0 auto;
    width: 100%;
    padding-top: 60vh;
    
    @include showTime(.5s);

    &.slow {
      @include showTime(1s);
    }

    @media (min-width: 741px) {
      width: 90%;
    }
    
    .message {
      position: relative;
      text-align: center;
      padding: 0 5vw;
      margin-top: 0;


      @include breakpoint(medium) {
        margin-left: 0;
      } 

      img {
        width: 100%;
        height: auto;
        vertical-align: top;
        border-radius: 20px 20px  70px 70px;
        border-bottom: 1px solid rgb(66, 68, 75);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        background-color: rgba(26, 26, 26, 0.38);

        @include breakpoint(medium) {
          border-radius: 20px 20px 150px 150px;
        }
      }

      .spinner {
        width: 10em;
      }

      span.text, span.spinner-cw {
        position: absolute;
        letter-spacing: 0.1em;
        display: inline-block;
        vertical-align: top;
        max-width: 100px;
        font-size: 2em;
        font-weight: 900;
        text-shadow: .2em .18em 0 #643ffb;
        text-align: right;
        color: #f9f7f6;
        right: 25%;
        top: 10%;
        @extend .font-big;

        @include breakpoint(medium) {
          left: 50%;
          top: 10%;
          font-size: 2em;
        } 
      }

      span.spinner-cw {
        margin: 0;
        max-width: fit-content;
        max-width: -moz-fit-content;
        width: fit-content;
        width: -moz-fit-content;
        bottom: -40%;
        right: 0;
        transform: translateZ(1px);
      }

      @include breakpoint(medium) {
        font-size: 2em;
        padding-top: 0;
        //max-width: 2*(1-$IPHI)*100%;

      }

      .drops {
        margin: 0 auto;
        display: inline-block;  
        border-radius: 1000px;
        background-color: hsla(0, 0%, 100%, 0.12);
        -webkit-backdrop-filter: blur(12px);
        backdrop-filter: blur(12px);
        vertical-align: top;
        padding: 40px 20px;
        border-top: 4px solid hsla(0, 0%, 100%, 0.48);
        width: 336px;
        min-height: 336px;
        max-width: 90vw;
        margin-top: -60px;
        font-size: 2em;
        overflow: hidden;
        box-shadow: 0 0 7px rgba(255, 255, 255, 0.31) inset;

        @include breakpoint(medium) {
          width: 400px;
          min-height: 400px;
          //position: absolute;
          //bottom: -15%;
          //right: 20%;
          //margin-top: 0;
          font-size: 1em;
        }

        .title, .small-title {
          width: fit-content;
          width: -moz-fit-content;
          margin: 0 auto;
          //padding: 3px 10px;
          font-size: 1em;
        }

        .title {
          font-size: 1em;
          margin: 0px auto 0px auto;
          letter-spacing: 0.1em;
          line-height: 1.5em;
          padding: 3px 12px;
          background-color: black;
          font-weight: 500;
          color: $primary-color;
          @extend .font-mid;
          // -webkit-text-stroke: 1px $primary-color;
          // color: transparent;
        }

        .small-title {
          font-size: 0.47em;
          letter-spacing: 0.1em;
          display: block;
          background-color: #fff;
          @extend .font-mid;
          color: black;
          padding: 0px 5px 2px 5px;
          border-radius: 100px;
        }

        label {
          text-indent: -1999999px;
          display: inline-block;
          position: absolute;
        }

        #mce-EMAIL {
          width: 100%;
          font-size: .6em;
          background-color: transparent;
          border: 2px solid rgba(255, 255, 255, 0.444);
          padding: 6px 0px;
          color: white;
          margin: 15px 0 10px 0; 
          border-radius: 100px;
          text-align: center;
          border-width: 2px 0px 1px 0px;
          font-weight: 300;
          letter-spacing: .1  5em;
          @extend .font-mid;
          @extend .cursor-pointer;
          -webkit-transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
          -moz-transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
          transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
          &::placeholder {
            color: white;
            letter-spacing: .15em;
          }

            @media (hover: hover) {
              &:hover {
                border: 2px solid rgba(255, 255, 255, 0.705);
                border-width: 2px 0px 1px 0px;
                color: white;
              }
            }

          &:focus {
            border: 2px solid rgba(255, 255, 255, 0.705);
            border-width: 2px 0px 1px 0px;
            background-color: hsla(0, 0%, 0%, 0.32);
            color: rgb(255, 255, 255);
            @extend .cursor-default;
          }
        }

        .mc-status {
          min-height: 26px;
        }

        .error-message, .success-message {
          font-size: 0.52em;
          letter-spacing: 0.05em;
          margin: 0 auto;
          width: fit-content;
          width: -moz-fit-content;
          padding: 0px 5px; 
          color: white;
          @extend .font-mid;
          background-color: #e25500;
          margin-bottom: 0px;
          a {
            @extend .font-mid;
          }
        }

        .success-message {
          background-color: #857c00;
        }

        #mc-embedded-subscribe{
          font-size: .5em;
          padding: 10px 20px;
          background-color: black;
          border: 2px solid rgba(255, 255, 255, 0.3);
          color: $primary-color;
          border-radius: 50%;
          margin-top: 10px;
          @extend .cursor-pointer;
          -webkit-transition: border 0.3s ease;
          -moz-transition: border 0.3s ease;
          transition: border 0.3s ease;
          letter-spacing: .1em;
          @media (hover: hover) {
              &:hover {
                border: 2px solid rgba(255, 255, 255, 0.786);
              }
          }
        }
      }

  }


    article {
      position: relative;
      display: inline-block;
      vertical-align: top;
      margin: 5vh 0;
      width: 100%;
      aspect-ratio: 1.5;

      @include breakpoint(medium) {
        -webkit-transition: transform 1s ease-out;
        -moz-transition: transform 1s ease-out;
        transition: transform 1s ease-out;
      }

      @media only screen and (min-width: 479px) and (max-width: 740px) {
        //height: 60vw;
        width: 40%;
        margin: 5%;
        background-size: 10vw 10vw;
        // 2 Column grid

        &:nth-child(2n+1) { // C[0]
          margin-top: 0%;
        }

        &:nth-child(2n) { // C[1]
          margin-top: 40%;
        }

        margin-bottom: -10%;

        &:after {
          //top: -8vh;
          top: 0vh; 
          right: -17%;
        }
      }
      
      @media only screen and (min-width: 741px) {
        //height: 25vw;
        margin: 5%;
        width: 23.33%;
        background-size: 4vw 4vw;
        // 3 Column Grid 
        &:nth-child(3n+1) { // C[0]
          margin-top: 0%;
        }
        &:nth-child(3n+2) { // C[1]
          margin-top: 10%;
        }
        &:nth-child(3n) { // // C[2]
          margin-top: 20%;
        }

        margin-bottom: -10%;

        &:after {
          //top: -8vh;
          top: 0vh;
          right: -28%;
        }
      }

      //&:before,
      &:after {
        opacity: 0.7;
        position: absolute;
        width: 25px;
        height: 25px;
        content: "";
        pointer-events: none;
        will-change: opacity;
        @extend .thin-star-icon;
      }

      img {
          width: 100%;
          height: auto;
        }

      // &:before {
      //   top: -15vh;
      //   left: -20%;
      //   border-width: 1px 0 0 1px;
      //   -webkit-transition: top 0.4s ease-out, left 0.4s ease-out, opacity 0.4s ease-out;
      //   -moz-transition: top 0.4s ease-out, left 0.4s ease-out, opacity 0.4s ease-out;
      //   transition: top 0.4s ease-out, left 0.4s ease-out, opacity 0.4s ease-out;
      // }

      &:after {
        //top: -8vh;
        //right: -30%;
        border-width: 1px 1px 0 0;
        -webkit-transition: right 0.4s ease-out, opacity 0.4s ease-out; 
           -moz-transition: right 0.4s ease-out, opacity 0.4s ease-out; 
                transition: right 0.4s ease-out, opacity 0.4s ease-out; 
      }

        @media (hover: hover) {
          &:hover {
            // &:before {
            //   top: 10%;
            //   left: 10%;
            //   opacity: 0;
            // }

            &:after {
              //top: 10%;
              right: 10%;
              opacity: 0;
            }
          }
        }
        @media (hover: hover) {
          &:hover .card .overlay {
            opacity: 1;
          }
        }
      &.active .card .overlay {
        opacity: 1;
      }

      @media (hover: hover) {
          &:hover .card .overlay .title-container {
            animation-play-state: running;
          }
      }

      .play-icon {
        z-index: 1;
        position: absolute;
        width: 3.5em;
        height: 2.2em;
        background: $secondry-color;
        border-radius: 100%;
        padding: .6em .8em .6em 1em;
        top: 10px;
        left: 10px;
        &, & * {
          @extend .cursor-zoom;
        }
      }
    }
  }
      
    .card {
        position: relative;
        z-index:0;
        min-height: 100%;
        border-radius: 500px;
        overflow: hidden;
        border-top: 2px solid #222;
        border-bottom: 2px solid #222;
        @extend .cursor-pointer;

        background-image: radial-gradient(#CCC0 5%, #CCCf 7%, #CCCf 8%, #CCC0 10%);
        background-size: 12vw 12vw;
        background-repeat: no-repeat;
        background-position: 50%;

        // &:hover {
        //   border-radius: 10px;
        // }

        .image-content {
            display: block;
            max-width: 100%;
            height: auto;
            border-radius: 30px;
            @extend .font-mid;
            text-align: center;
            line-height: 100px;
        }

    .overlay {
      opacity: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 6em;
      -webkit-transition: opacity 0.5s ease-out;
      -moz-transition: opacity 0.5s ease-out;
      transition: opacity 0.5s ease-out;
      overflow: hidden;
      font-size: .8em;
      background-color: transparent;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      cursor: inherit;

      @include breakpoint(showcase-filters) {
        font-size: 1em;
        .nft-url span, .show-btn span {
          padding: 5px .8em;
        }
      }

        @media (hover: hover) {
            &:hover {
                .title-container {
                    -webkit-animation-play-state: running;
                    -moz-animation-play-state: running;
                    animation-play-state: running;
                }

                .show-btn span {
                    //background-size: 45%, 240%;
                    background-position: 50%, 100% 50%;
                    outline: 2px solid rgba($secondry-color, 0.7);
                    filter: saturate(1);
                }
            }
        }
    }

    .overlay .title-container {
      width: max-content;
      display: flex;
      position: relative;
      -webkit-animation: marquee 3s linear infinite;
      -moz-animation: marquee 3s linear infinite;
      animation: marquee 3s linear infinite;
      -webkit-animation-play-state: paused;
      -moz-animation-play-state: paused;
      animation-play-state: paused;
      background-color: transparent;
      //margin-top: -6em;
      height: 3em;
      top: 0;
      cursor: inherit;
      border-top: 1px solid rgba($primary-color, 0.2);
    }

    .overlay span.title {
      font-size: 1.5em;
      padding: 0 0px;
      cursor: inherit;
      line-height: 2em;
      letter-spacing: .1em;
      color: rgba(#fff, 0.8);
      pointer-events: none;
      text-shadow: 0em 0.07em 0.5em #555C;
      @extend .font-mid;
      font-weight: 300;
      &::after {
        content: "  ";
        padding: 0 40px;
        @extend .thin-star-icon;
        background-size: 1.3em;
        background-repeat: no-repeat;
        background-position: 50% 60%;
      }
    }

    @keyframes marquee {
      0% {
        -webkit-transform: translate3d(0%, 0, 0);
        -moz-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
      }

      100% {
        -webkit-transform: translate3d(-25%, 0, 0);
        -moz-transform: translate3d(-25%, 0, 0);
        transform: translate3d(-25%, 0, 0);
      }
    }

    .nft-url, .show-btn {
      position: absolute;
      bottom: 0;
      display: block;
      line-height: 3.1em;
      //border-radius: 0 0 10px 10px;
      color: $primary-color;
      text-decoration: none;
      text-align: center;
      background-color: transparent;
      width: 100%;
      // @extend .link-icon;
      // background-repeat: repeat;
      // background-size: 15px;
      // background-position: 0px 0px;

      // -webkit-animation: moveLink 0.5s linear infinite;
      // -moz-animation: moveLink 0.5s linear infinite;
      // animation: moveLink 0.5s linear infinite;
      // -webkit-animation-play-state: paused;
      // -moz-animation-play-state: paused;
      // animation-play-state: paused;
      // background-color: rgba(0, 0, 0, 0.52);

      span {
        display: inline-block;
        width: 20%;
        line-height: normal;
        background: url($eye), linear-gradient(
            130deg,
            rgba($bg-page, 0.5) 0%,
            rgba($bg-page, 0.5) 50%,
            ///rgba(#88b , 0.7) 55%,
            rgba(#555 , 0.5) 52%,
            //rgba(red   , 0.6) 55%, 
            //rgba(orange, 0.6) 65%, 
          //rgba(yellow, 0.6) 75%, 
          //rgba(green , 0.6) 85%, 
            //rgba(blue  , 0.6) 95%, 
            // rgba(indigo, 0.6) 93%, 
            // rgba(violet, 0.6) 100%
          );
        background-repeat: no-repeat;
        background-size: 34%, 240%;
        background-position: 50%, 0% 70%;
        outline: 2px solid rgba($primary-color, 0.2);
        position: relative;
        overflow: hidden;
        font-size: 1em;
        letter-spacing: 0.2em;
        color: $primary-color;
        border-radius: 100%;
        padding: 5px .5em;
        z-index: 200;
        @extend .font-mid;
        font-weight: 500;
        pointer-events: none;
        text-align: unset;
        text-indent: -1999999px;
        background-repeat: no-repeat;
        vertical-align: middle;
        filter: saturate(0);
        -webkit-transition: background-position 0.3s ease-in-out, filter 0.3s ease-in-out, outline 0.3s ease-in-out;
           -moz-transition: background-position 0.3s ease-in-out, filter 0.3s ease-in-out, outline 0.3s ease-in-out;
                transition: background-position 0.3s ease-in-out, filter 0.3s ease-in-out, outline 0.3s ease-in-out;


        // &:after {
        //   content: '';
        // }
      }
      
      @keyframes moveLink {
        0% {
          background-position: 2px 2px;
        }

        100% {
          background-position: 17px -13px;
        }
      }
    }
  }

  .viewer {
    position: fixed;
    display: none;
    background-color: rgba(29, 29, 29, 0.748);
    -webkit-backdrop-filter: blur(30px);
    -moz-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    z-index: 2000;
    align-content: center;
    text-align: center;
    overflow-x: hidden;
    scrollbar-width: none;

    .slider {
      display: flex;
      scroll-snap-type-x: mandatory;
      -webkit-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
      overflow-x: scroll;
      width: 100vw;
      height: 100vh;
      height: 100dvh;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    .slide {
      display: flex;
      min-width: 100vw;
      min-height: 100vh;
      min-height: 100dvh;
      scroll-snap-align: center;
      //opacity: 0;

      -webkit-transition: left 0.5s ease, opacity 0.5s ease-in-out;
         -moz-transition: left 0.5s ease, opacity 0.5s ease-in-out;
              transition: left 0.5s ease, opacity 0.5s ease-in-out;
    transform: translateZ(1px);
    will-change: left;

      &.active {
        //opacity: 1;
      }

      .card {
        display: flex;
        position: relative;
        width: fit-content;
        width: -moz-fit-content;
        margin: 0 auto;
        padding: $logo-height * $IPHI * 5 0px 9em 0px;
        -webkit-transition: none;
        -moz-transition: none;
        transition: none;
        text-align: center;
        overflow: visible;
        height: 100vh;
        height: 100dvh;
        max-width: 900px;
        border: 0px solid black;
        border-radius: 0px;


        min-width: 300px;
        min-height: 300px;
        background-image: radial-gradient(#CCC0 35%, #CCCf 30%, #CCCf 40%, #CCC0 45%);
        background-size: 100px 100px;
        background-repeat: no-repeat;
        background-position: center;

        @include breakpoint(medium) {
          padding-top: $logo-height * $IPHI * 6
        }
        @media (hover: hover) {
            &:hover {
              transform: none;
            }
        }
        .image-content, .video-content {
          align-self: center;
          margin: 0 auto;
          z-index: 1000;
          max-width: 100%;
          max-height: 100%;
        }

        .video-content {
          display: block;
        }

        .image-content {
          position: relative;
          box-shadow: 0px 20px 20px #0005;
        }
        .overlay {
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          -webkit-backdrop-filter: none;
          backdrop-filter: none;
          position: absolute;
          bottom: 0;
          @extend .cursor-close;
        }
        .title-container {
            position: absolute;
            left: 0;
            right: 0;
            bottom: $logo-height * $IPHI * 2.2;
            top: auto;
            border-top: none;
            height: auto;
          display: block;
          max-width: 100%;
          text-align: center;
          transform: none;
          animation: none;
          animation-play-state: initial;
          font-size: .8em;
          background-color: transparent;
          margin: 0 auto;
          margin-top: -10em;
          padding: 0 $logo-height * $IPHI * 2;
          @extend .cursor-default;

          @include breakpoint(medium) {
            bottom: $logo-height * $IPHI * 2.5;
          }

          span {
            line-height: 1.5em;
            font-weight: 500;
            color: $primary-color;
            padding: 0 5px;
          }

          span::before, span::after {
            content: '';
            background: none;
            padding: 0;
          }
        }

        .nft-url {
          position: fixed;
          width: 95%;
          line-height: 3em;
          height: 3em;
          bottom: 25px;
          border-radius: 50px;
          margin: 0 auto;
          left: 0;
          right: 0;
          max-width: 400px;
          span {
            padding: 5px 1em;
          }

          &::before {
            right: 0;
          }

          &::after {
            right: 0;
          }
        }
        .overlay {
          opacity: 1;
        }
      }
    }

    .controller {
      position: absolute;
      width: 100vw;
      top: 50%;
      max-width: $max-width;
      margin: 0 auto;
      left: 0;
      right: 0;
      pointer-events: none;
      
      @include screen-padding();
      padding-top: 0 !important;
      padding-bottom: 0 !important;

      .prev, .next {
        $width: 50px;
        position: relative;
        width: $width * 2;
        height: $width;
        border-top-right-radius: 50px;
        border-top-left-radius: 50px;
        pointer-events: all;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        outline: 2px solid rgba($primary-color, 0.5);

        -webkit-transition: outline 0.3s ease-out;
           -moz-transition: outline 0.3s ease-out;
                transition: outline 0.3s ease-out;
        @media (hover: hover) {
            &:hover {
              outline: 2px solid rgba($secondry-color, 1.0);
              z-index: 2000;
            }
        }
        &.disabled {
          outline: 2px solid rgba($primary-color, 0.1);
          @extend .cursor-default;
        }
      }
      .prev {
        float: left;
        transform: rotate(-90deg);
        margin-left: -25px;
      }

      .next {
        float: right;
        transform: rotate(90deg);
        margin-right: -25px;
      }
    }
  }
}

main.creator {
  padding-top: $logo-height * $PHI * 2 + $logo-height * $IPHI;

  @include breakpoint(medium) {
    padding-top: $logo-height * $PHI * 4 + $logo-height * $IPHI;
  }
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
    text-align: center;
  }

  #post-create-form {
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
  }

  .box-grid-col {
    &.post-media {
      padding: 0%;
    }
    .image-content {
      max-width: 100%;
      max-height: 100%;
      position: relative;
      pointer-events: none;
      img {
        display: inline-block;
        max-width: 100%;
        max-height: 100%;
        vertical-align: bottom;
      }
    }
    .video-content {
      position: relative;
      max-width: 100%;
      max-height: 100%;
      iframe {
        width: 100%;
        height: 100%;
        vertical-align: bottom;
      }
    }
  }
}

.bg-balls {
  position: fixed;
  width: 100vw;
  max-width: $max-width;
  max-height: 100vh;
  max-height: 100dvh;
  justify-content: space-between;
  margin: 0 auto;
  //display: none;
  overflow: visible;
  @include showTime(1s);
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  backface-visibility:hidden;
}
  

  .ball   {
    position: absolute;
    border-radius: 50%;
  }
  
  .s2, .s3, .s4  {
    right: -5vw;
    bottom: -10vw;
    width: 68vw;
    height: 68vw;
    min-width: 500px;
    min-height: 500px;
    background-color: black;
    //border: 3px solid #1d1d1d;
    border-radius: 50%;
    box-shadow: inset 50px 50px 10vh #d4e4f74f,20px 20px 10vh #dbdef045;

    will-change: transform;

    -webkit-transition: transform 1.5s ease-out;
       -moz-transition: transform 1.5s ease-out;
            transition: transform 1.5s ease-out;
    transform: translateZ(3px);
  }

  .s4 {
    left: 30vw;
    bottom: -50vw;
    width: 70vw;
    height: 70vw;
    transform: translateZ(4px);
  }

  .bg-image {
    position: fixed;
    margin: -10vh auto;
    width: 120%;
    height: 70%;
    left: -0%;
    padding: $logo-height * $PHI;
    background-image: url('/assets/content/Luna-mini.png');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    filter: blur(80px);
    opacity: 0.0;
    will-change: opacity;

    -webkit-transition: opacity 1.5s ease-out;
       -moz-transition: opacity 1.5s ease-out;
            transition: opacity 1.5s ease-out;
    //box-shadow: inset 0px -10vh 10vh $bg-page; 
  }

  .bg-image-2 {
    position: absolute;
    margin: 10vh auto 0 auto;
    width: 80%;
    height: 100%;
    left: -0%;
    max-width: 1900px;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 300;
    will-change: opacity transform;

    -webkit-transition: transform 0.1s ease;
       -moz-transition: transform 0.1s ease;
            transition: transform 0.1s ease;
    //box-shadow: inset 0px -10vh 10vh $bg-page; 
    transform: translateZ(3px) scale(1);    

    img {
        max-width: 100%;
        height: auto;
        position: relative;
        max-height: 80%;
        vertical-align: middle;
    }

    @include breakpoint(showcase-filters) {
        margin-top: 0;
        img {
            max-height: 100%;
        }
    }
  }

  .chain-grid {
    position: absolute;
    top: 30px;
    left: 50%;
    width: 50vw;
    height: auto;
    //height: 500px;
    max-width: 700px;
    max-height: 611px;
    will-change: transform;
    opacity: 0.5;
    //background: rgba($secondry-color, 0.3); //url('/assets/images/Grid.png');
    //border-radius: 50%;
    //box-shadow: inset 50px 50px 10vh #d4e4f74f,20px 20px 10vh #dbdef045;

    -webkit-transition: transform 1.5s ease-out;
       -moz-transition: transform 1.5s ease-out;
            transition: transform 1.5s ease-out;

    transform: translateZ(5px);

    // -webkit-animation: moveChainGrid 8s ease-in-out infinite;
    //   -moz-animation: moveChainGrid 8s ease-in-out infinite;
    //   animation: moveChainGrid 8s ease-in-out infinite;
    
    //transform: translateY(30px);
    //@include showTime(3s);

    img {
      max-width: 700px;
      max-height: 591px;
      height: auto;
    }

    @include breakpoint(medium) {
      width: 30vw;
    }
  }

  @keyframes moveChainGrid {
    0% { transform: translateY(30px); }
    50% { transform: translateY(0px); }
    100% { transform: translateY(30px); }
  }

.parallax {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100%;
    top: 0; bottom: 0;
    left: 0; right: 0;
    padding: 0; margin: 0 auto;
    overflow-x: hidden; 
    overflow-y: auto;
    perspective: 1px;
    //max-width: $max-width + 100;
    perspective-origin: center;
}

.parallax-layer-base {
    transform: translateZ(0);
    z-index: 1000;
}

.parallax-layer {
    position: absolute;
    background-size: cover;
    background-position: center;
}

.parallax-layer-back {
    transform: translateZ(-1px) scale(2);
}

.parallax-group {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: visible;
    top: 0; bottom: 0;
    left: 0; right: 0;
    padding: 0; margin: 0 auto;
    transform-style: preserve-3d;
}

.parallax-layer-white {
    top: -40%;
    left: -50%;
    //width: 10%;
    min-height: 20%;
    aspect-ratio: 1;
    background-image: url("/assets/images/bg-obj-white.png");
    transform: scale(3.5) translateZ(-2px) ;
}
.parallax-layer-red {
    top: 70%;
    right: 5%;
    min-width: 15%;
    min-height: 20%;
    aspect-ratio: 1;
    background-image: url("/assets/images/bg-obj-red.png");
    transform: scale(1.7) translateZ(-0.3px) ;
}
.parallax-layer-green {
    top: 35%;
    left: 25%;
    min-width: 20%;
    min-height: 30%;
    aspect-ratio: 1;
    background-image: url("/assets/images/bg-obj-green.png");
    transform: scale(1.5) translateZ(-0.1px);

}
.parallax-layer-smile {
    top: 5%;
    right: 10%;
    min-width: 50%;
    min-height: 50%;
    aspect-ratio: 1.1311594203;
    background-image: url("/assets/images/bg-obj-smile.png");
    transform: scale(0.8) translateZ(0.3px) ;
    @include breakpoint(medium) {
        right: 20%;
    }
}
.parallax-layer-orbit {
    background-image: url("/assets/content/Valley-of-the-Rising-Stellar.png");
    top: 20%;
    left: 0; right: 0;
    margin: 0 auto;
    aspect-ratio: 1.62083;
    min-width: 45vmin;
    max-width: 90vmin;
    border-radius: 100%;
    transform: rotate(-55deg) scale(3) translateZ(-2px);
    opacity: 0.9;
    filter: hue-rotate(255deg) saturate(0.3);
    @include breakpoint(medium) {
        top: 30%;
    }

    -webkit-transition: opacity .3s ease-out;
       -moz-transition: opacity .3s ease-out;
            transition: opacity .3s ease-out;
}