@import "./common";

main.home {
    clear: both;
    position: relative;
    z-index: 400;
    padding-top: 0;
    height: 100vh;
    max-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;

    

    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;

     .artworks-button {
        -webkit-backdrop-filter: blur(25px);
        backdrop-filter: blur(25px);
        margin-bottom: -40vh;
        color: $secondry-color;
        border-bottom: 1px solid $secondry-color;

        @include link-hover-transition();

        @include showTime(2s);

        -webkit-transition: border-color 300ms ease-in-out, opacity 2s ease-in-out;
           -moz-transition: border-color 300ms ease-in-out, opacity 2s ease-in-out;
                transition: border-color 300ms ease-in-out, opacity 2s ease-in-out;
     }
     

     div.drops {
         position: absolute;

     }

     .home-video {
        visibility: visible;
        clear: both;
        position: absolute;
        //object-fit: cover;
        height: 100%;
        width: 100%;
        vertical-align: middle;
        margin: auto;
        overflow: hidden;
        @include showTime(2s);
    }

    &.no-autoplay {
        background-image: url("/assets/videos/LG4.mp4");
        background-repeat: no-repeat;
        //background-size: justify-content;
        background-size: contain;
        background-position: 50%;
        video {
            visibility: hidden;
        }
    }

    .text-wrapper {
            position: fixed;
            text-align: center;
            overflow: visible;
            padding-left: 10vw;
            padding-top: 10vw;
            pointer-events: none;
            @include showTime(2s);

            .text-line {
                width: 120vw;
                height: auto;
                margin-top: -20vw;
                margin-bottom: -3vw;
                transform: rotate(20deg);
                padding-left: 5vw;
                textPath, tspan {
                    font-size: 15px;
                    font-weight: 300;
                    fill: #BFBFBF;

                    tspan {
                        fill: #fff;
                    font-weight: 500;
                    }

                }
                
            }

            @include breakpoint(medium) {
                padding-left: 20vw;
                padding-top: 10vw;
                .text-line {
                    width: 80vw;
                }
            } 
    }
}

a.toggle-audio {
    pointer-events: all; 
    position: relative;
    display: block;
    width: 70px;
    margin-left: auto;
    margin-top: auto;
    z-index: 900;
    transform: scale(1) translateZ(3px);

    @include showTime(4s);
    svg, svg * {
        font-size: 1px;
    }

    -webkit-transition: transform .2s ease-out, opacity 4s ease-in-out;
       -moz-transition: transform .2s ease-out, opacity 4s ease-in-out;
            transition: transform .2s ease-out, opacity 4s ease-in-out;

    #speaker {
        fill: $secondry-color;
        fill-opacity: 1;
        -webkit-transition: fill .3s ease-in-out;
           -moz-transition: fill .3s ease-in-out;
                transition: fill .3s ease-in-out;
    }

    #wave {
        fill:none;
        fill-rule:nonzero;
        stroke:rgba($secondry-color, 0.4);
        stroke-width:10px;

        -webkit-animation: wavy 3s linear infinite;
           -moz-animation: wavy 3s linear infinite;
                animation: wavy 3s linear infinite;

        -webkit-animation-play-state: paused;
           -moz-animation-play-state: paused;
                animation-play-state: paused;

        
        -webkit-transition: stroke .3s ease-in-out;
           -moz-transition: stroke .3s ease-in-out;
                transition: stroke .3s ease-in-out;
                
        clip-path: url(#wave-clip);
    }

    &:hover {

        transform: scale(1.1) translateZ(3px);
        #wave {
            stroke: rgba($secondry-color, 0.7);
        }
    }

    #wave-clip-rect {
        -webkit-animation: wave-clip-rect 3s linear infinite;
           -moz-animation: wave-clip-rect 3s linear infinite;
                animation: wave-clip-rect 3s linear infinite;

        -webkit-animation-play-state: paused;
           -moz-animation-play-state: paused;
                animation-play-state: paused;
    }

    &.active {

        #speaker {
            fill: $secondry-color;
            fill-opacity: 1;
        }
        
        #wave {
            stroke: rgba($secondry-color, 0.7);

            -webkit-animation-play-state: running;
               -moz-animation-play-state: running;
                    animation-play-state: running;
        }

        #wave-clip-rect {
            -webkit-animation-play-state: running;
               -moz-animation-play-state: running;
                    animation-play-state: running;
        }
    }

    
    

    @keyframes wave-clip-rect {
        0% {
            -webkit-transform: translateX(0px);
               -moz-transform: translateX(0px);
                    transform: translateX(0px);
        }
        100% {
        -webkit-transform: translateX(100px);
           -moz-transform: translateX(100px);
                transform: translateX(100px);
        }
    }

    @keyframes wavy {
        0% {
            -webkit-transform: translateX(0px);
               -moz-transform: translateX(0px);
                    transform: translateX(0px);
        }
        100% {
            -webkit-transform: translateX(-100px);
               -moz-transform: translateX(-100px);
                    transform: translateX(-100px);
        }
    }   
 }

 
 body.active a.toggle-audio {

    #speaker {
        fill: $master-color;
    }

    #wave {
        stroke:rgba($master-color, 0.4);
    }

    &:hover #wave {
     
        stroke: rgba($master-color, 0.7);
    }

    &.active {

        #speaker {
            fill: $master-color;
            fill-opacity: 1;
        }
        
        #wave {
            stroke: rgba($master-color, 0.7);
        }
    }
 }
