---
layout: default
title: STACKOZA
style: main
---
{% assign cacheBust = site.time | date:'?v=%s' %}
<main class="home">
    <video class="home-video" poster="/assets/videos/LG2-poster.png" playsinline muted loop>
        <source src="/assets/videos/LG4.mp4" type="video/mp4">
        <source src="/assets/videos/LG4.webm" type="video/webm">
    </video>
    <a class="play-btn">Play</a>

    <div class="text-wrapper">
        <svg class="text-line line-1" viewBox="0 0 400 150">
            <path id="text-line-1" fill="transparent" d="M 10 75 Q 100 0 200 75 T 400 75"></path>
            <text style="transform:translate3d(0,0,0);">
                <textPath startOffset="0%" 
                          style="transform:translate3d(0,0,0);" 
                          alignment-baseline="top" 
                          xlink:href="#text-line-1">
                      Hi, I'm a <tspan class="blue">software engineer</tspan> and <tspan class="red">artist</tspan> from Cairo.
                  </textPath>
            </text>
        </svg>
        <svg class="text-line line-2" viewBox="0 0 400 150">
            <path id="text-line-2" fill="transparent" d="M 10 75 Q 100 0 200 75 T 400 75"></path>
            <text style="transform:translate3d(0,0,0);">
                <textPath startOffset="35%" 
                          style="transform:translate3d(0,0,0);" 
                          alignment-baseline="top" 
                          xlink:href="#text-line-2">
                      Currently based in Berlin.
                  </textPath>
            </text>
        </svg>

    </div>
    <a href="/artworks" class="artworks-button">artworks</a>
</main>
<footer class="padded-footer">
    {% include Copyright.html %}
    {% include AudioFooter.html %}
    <script src="/assets/js/stackoza.js?v={{ cacheBust }}"></script>
</footer>