<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="dns-prefetch" href="//ajax.aspnetcdn.com">
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="dns-prefetch" href="//unpkg.com">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@stackoza">
  <meta name="twitter:title" content="Stackoza">
  <meta name="twitter:description" content="Stackoza is an artist/programmer from Cairo and currently based in Berlin.">
  <!-- <meta name="twitter:image" content="">
  <meta property="og:image" content="" itemprop="thumbnailUrl"> -->
  <meta property="og:title" content="Stackoza">
  <meta property="og:url" content="http://stackoza.xyz">
  <meta property="og:site_name" content="Stackoza">
  <meta property="og:description" content="Stackoza is an artist/programmer from Cairo and currently based in Berlin.">

  <meta name="description" content="Stackoza is an artist/programmer from Cairo and currently based in Berlin.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="Stackoza">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
  <link rel="manifest" href="/assets/site.webmanifest">
  <link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#060606">
  <link rel="shortcut icon" href="/assets/favicon.ico">
  <meta name="msapplication-TileColor" content="#060606">
  <meta name="msapplication-config" content="/assets/browserconfig.xml">
  <meta name="theme-color" content="#060606">
  <!-- <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.min.js"></script> -->
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"></script>
</head>